* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  //width: 960px;
  height: 700px;
  position: relative;
}

/**/
.header {
  width: 100%;
  height: 1000px;
  background: url('../img/bg.jpg') no-repeat;
}
.repeat2 {
  //width: 100px;
  height: 600px;
  background-image:

    repeating-linear-gradient(180deg, rgba(215, 215, 215, 0) 37px, rgba(204, 207, 213, 0) 38px, #000 13px, #000 39px);
}
/**/

svg {
  width: 100%;
  height: 100%;
  position: center;
}

.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

text {
  font: 10px sans-serif;
  color: white;
}
text.value {
  font-size: 120%;
  fill: white;
}

.axisHorizontal path{
  fill: none;
}

.axisHorizontal .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}