body {
  font-family: 'Roboto', 'Arial', sans-serif; }

ul {
  padding: 0; }

ul li {
  list-style: none; }

input {
  color: #5d5d5d; }

input[type="text"]::-webkit-input-placeholder {
  color: #5d5d5d; }

input[type="email"]::-webkit-input-placeholder {
  color: #5d5d5d; }

@media (max-width: 767px) {
  .container .navbar-header {
    margin: 0 auto; } }

input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #5d5d5d; }

input[type="text"]::-moz-placeholder {
  /* Firefox 18- */
  color: #5d5d5d; }

input[type="email"]:-moz-placeholder {
  /* Firefox 18- */
  color: #5d5d5d; }

input[type="email"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #5d5d5d; }

input[type="text"]:-ms-input-placeholder {
  color: #5d5d5d; }

input[type="email"]:-ms-input-placeholder {
  color: #5d5d5d; }

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent; }

input[type="email"]:focus::-webkit-input-placeholder {
  color: transparent; }

input[type="text"]:focus::-moz-placeholder {
  color: transparent; }

input[type="email"]:focus::-moz-placeholder {
  color: transparent; }

input[type="text"]:focus:-moz-placeholder {
  color: transparent; }

input[type="email"]:focus:-moz-placeholder {
  color: transparent; }

input[type="text"]:focus:-ms-input-placeholder {
  color: transparent; }

input[type="email"]:focus:-ms-input-placeholder {
  color: transparent; }

input::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.logo {
  width: 197px;
  height: 66px;
  background: url("../img/my-linker.png") no-repeat;
  text-indent: -3333px; }

.navbar-custom {
  padding-top: 20px;
  padding-bottom: 51px;
  margin-top: 54px;
  -webkit-border-radius: 0;
          border-radius: 0;
  border-bottom: 2px solid #b5b2b2;
  background-color: #ffffff;
  border: none; }
  @media (max-width: 991px) {
    .navbar-custom {
      margin-top: 15px; } }

.navbar-default .navbar-nav > li > a.service-name {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #318AC1; }

.service-name-right {
  margin-top: 20px; }

.call-to-action {
  max-width: 815px;
  margin: 25px auto 0;
  font-size: 23px; }
  @media (max-width: 571px) {
    .call-to-action {
      font-size: 15px; } }

.title-know {
  margin-top: 30px;
  font-size: 40px; }
  @media (max-width: 571px) {
    .title-know {
      font-size: 20px; } }

.map-first {
  width: 100%;
  height: 700px;
  background: url("../img/map-first.png") no-repeat;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: contain; }
  @media (max-width: 969px) {
    .map-first {
      height: 400px; } }
  @media (max-width: 401px) {
    .map-first {
      height: 295px; } }

.map-first-gif {
  width: 100%;
  height: 700px;
  background: url("../img/map-first.gif") no-repeat;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: contain; }
  @media (max-width: 969px) {
    .map-first-gif {
      height: 400px; } }
  @media (max-width: 401px) {
    .map-first-gif {
      height: 295px; } }

.form-group .input-search-city {
  height: 70px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 32px;
  font-style: italic; }
  @media (max-width: 401px) {
    .form-group .input-search-city {
      height: 55px;
      font-size: 20px; } }

.search-block {
  margin: 20em auto 0; }
  @media (max-width: 991px) {
    .search-block {
      margin: 6em auto 0; } }
  @media (max-width: 767px) {
    .search-block {
      text-align: center; } }
  @media (max-width: 401px) {
    .search-block {
      text-align: center; } }

.form-find {
  width: 70%;
  position: relative;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .form-find {
      width: 100%; } }

.form-group-lg .input-get-instruction {
  height: 63px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: none;
  font-size: 30px;
  font-style: italic; }

.btn-search {
  margin-left: -105px;
  z-index: 10;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  border: none;
  border-bottom: 2px solid #c59a39;
  background-color: #FDD51D;
  font-size: 1.5em;
  margin-left: -105px;
  z-index: 10;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
  -webkit-border-radius: 25px;
  border-radius: 40px;
  border: none;
  font-size: 2.7em;
  position: absolute;
  right: 150px; }
  .btn-search:hover {
    background-color: #e4c01b; }
  @media (max-width: 1201px) {
    .btn-search {
      margin-left: 0; } }
  @media (max-width: 991px) {
    .btn-search {
      position: absolute; } }
  @media (max-width: 969px) {
    .btn-search {
      margin-left: -105px;
      position: relative;
      margin: 0 auto 20px;
      display: block;
      top: 15px; } }
  @media (max-width: 401px) {
    .btn-search {
      right: 0;
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 10px;
      font-size: 1.7em; } }

.btn-search-top {
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 2px;
  padding-bottom: 2px;
  right: -25px;
  top: 29px;
  font-size: 50px; }
  @media (max-width: 969px) {
    .btn-search-top {
      right: 0; } }
  @media (max-width: 401px) {
    .btn-search-top {
      padding-left: 35px;
      padding-right: 35px;
      font-size: 25px; } }

label.with-square-checkbox {
  cursor: pointer; }
  label.with-square-checkbox span {
    margin-left: 5px; }

label.with-square-checkbox span {
  line-height: 24px; }

label.with-square-checkbox span::before {
  margin-right: 4px;
  padding-left: 1px;
  width: 21px;
  height: 21px;
  border: 1px solid #000000;
  display: inline-block;
  line-height: 15px;
  content: '';
  float: left;
  background-color: #FDD51D; }

label.with-square-checkbox input[type="checkbox"] {
  display: none; }

label.with-square-checkbox input[type="checkbox"]:checked + span::before {
  padding-top: 2px;
  font-family: 'Glyphicons Halflings';
  content: '\e013';
  color: #000000;
  font-size: 16px; }

main {
  width: 300px;
  margin: 8px auto; }

li {
  list-style-type: none; }

.link-agreement {
  color: #000000;
  text-decoration: underline;
  font-style: italic; }
  .link-agreement:hover {
    color: #000000;
    text-decoration: none; }

.agree-checkbox {
  font-size: 20px; }
  @media (max-width: 401px) {
    .agree-checkbox {
      font-size: 15px; } }

.process {
  padding-top: 0;
  padding-bottom: 40px;
  border-bottom: 2px solid #b5b2b2; }

.process-text {
  padding-bottom: 15px;
  font-size: 17px; }

.result {
  padding-top: 10px;
  padding-bottom: 25px;
  background-color: #FDD51D; }

.result-title {
  font-size: 55px;
  font-weight: 600; }
  @media (max-width: 571px) {
    .result-title {
      font-size: 25px; } }

.congratulation {
  font-size: 27px;
  font-weight: 600; }
  @media (max-width: 1201px) {
    .congratulation {
      font-size: 18px; } }

.description {
  padding-bottom: 40px;
  background-color: #EBEBEB;
  font-size: 12px; }

.danger {
  width: 100%;
  height: 128px;
  background: url(../img/danger.png) no-repeat;
  background-position-x: 50%; }
  @media (max-width: 401px) {
    .danger {
      height: 80px;
      background-size: 80%; } }

.descr-text {
  max-width: 900px;
  margin: 0 auto 15px;
  font-size: 20px; }

.get-offer {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #b5b2b2; }

.time-limit {
  font-size: 22px; }

.form-search {
  width: 75%;
  margin: 50px auto 0; }
  @media (max-width: 1201px) {
    .form-search {
      width: 90%; } }
  @media (max-width: 991px) {
    .form-search {
      width: 100%;
      right: 10px; } }
  @media (max-width: 571px) {
    .form-search {
      width: 100%; } }

.col-find {
  padding-left: 0;
  margin-left: 0; }

.description-second {
  padding-top: 80px;
  padding-bottom: 30px; }

.checked {
  width: 419px;
  height: 242px;
  background: url("../img/checked.png") no-repeat;
  position: absolute;
  right: 22%;
  margin-top: -120px; }
  @media (max-width: 1401px) {
    .checked {
      right: 10%; } }
  @media (max-width: 1201px) {
    .checked {
      right: 0;
      opacity: 0.7; } }
  @media (max-width: 991px) {
    .checked {
      margin-top: -60px;
      background-size: 70%;
      opacity: 0.7; } }
  @media (max-width: 571px) {
    .checked {
      width: 230px;
      background-size: 90%;
      margin-top: -25px; } }

.less-more {
  margin-top: 95px;
  width: 613px;
  height: 159px;
  background: url("../img/less-more.png") no-repeat; }
  @media (max-width: 767px) {
    .less-more {
      display: none; } }

.share {
  font-size: 22px; }
  @media (max-width: 1201px) {
    .share {
      margin-right: 20px; } }

.socials {
  padding-left: 95px; }
  @media (max-width: 1201px) {
    .socials {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 50px; } }
  @media (max-width: 767px) {
    .socials {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-left: 20px; } }

.soc-list li {
  float: left; }

.soc-list-second {
  clear: both; }

.icon {
  width: 62px;
  height: 61px;
  margin-right: 40px;
  margin-bottom: 35px;
  display: block; }

.fb {
  background: url("../img/fb.png") no-repeat; }
  .fb:hover {
    opacity: 0.7; }

.ok {
  background: url("../img/ok.png") no-repeat; }
  .ok:hover {
    opacity: 0.7; }

.vk {
  background: url("../img/vk.png") no-repeat; }
  .vk:hover {
    opacity: 0.7; }

.tw {
  background: url("../img/tw.png") no-repeat; }
  .tw:hover {
    opacity: 0.7; }

.leave-mail {
  max-width: 320px;
  margin: 0 auto 10px; }

.contacts-input {
  font-style: italic; }

.btn-contacts {
  margin-left: 0;
  margin-top: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 25px; }

.contacts {
  border-bottom: 2px solid #b5b2b2;
  background-color: #EBEBEB; }

@media (max-width: 767px) {
  .col-sale-input {
    text-align: center; } }

footer {
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: #34A6FF;
  color: #ffffff; }

.footer-text {
  padding-bottom: 20px;
  font-size: 20px; }

.form-group-lg .input-get-instr {
  height: 63px;
  padding: 10px 16px;
  font-size: 30px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  font-style: italic;
  border: none; }

.btn-search-second {
  right: 20px;
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 1201px) {
    .btn-search-second {
      right: 0; } }

.res-title-second, .congratulation-second {
  margin-left: 85px; }
  @media (max-width: 767px) {
    .res-title-second, .congratulation-second {
      margin-left: 0;
      font-size: 25px; } }

.btn-search-get {
  right: 150px; }
  @media (max-width: 1201px) {
    .btn-search-get {
      right: 35px; } }
  @media (max-width: 991px) {
    .btn-search-get {
      right: 0; } }
  @media (max-width: 571px) {
    .btn-search-get {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1.7em; } }

.enter-mail {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #EBEBEB; }

.leave-mail-text {
  font-size: 17px; }

.simple-rule {
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 23px; }

.less-more-rule {
  font-size: 25px; }

.smile {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 25px; }

.input-leave-mail {
  height: 60px;
  padding-left: 20px;
  -webkit-border-radius: 13px;
          border-radius: 13px;
  border: none;
  font-size: 28px;
  font-style: italic; }

.btn-bottom {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 33px;
  padding-right: 33px;
  margin-top: 55px;
  border: none;
  background-color: #FDD51D;
  -webkit-border-radius: 33px;
          border-radius: 33px;
  font-size: 35px; }
  .btn-bottom:hover {
    background-color: #e4c01b; }
  @media (max-width: 401px) {
    .btn-bottom {
      margin-top: 25px;
      font-size: 25px; } }

.scanner {
  width: 100px;
  height: 700px;
  background: red;
  position: relative;
  -webkit-animation: mymove 5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(95%, #5def50), color-stop(100%, #2feb1e));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #5def50 95%, #2feb1e 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(95%, #5def50), to(#2feb1e));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #5def50 95%, #2feb1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2feb1e', GradientType=1 ); }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    right: 0; }
  to {
    right: -1300px; } }

@keyframes mymove {
  from {
    right: 0; }
  to {
    right: -1200px; } }
