/* -------------------- BLOCK BOOK BEGIN -------------------- */
.block-book {
  margin-bottom: 5vw;
}
.OneBook3d_70682_spread_title p span {
  font-family: "Century Gothic Regular", Arial, sans-serif;
}
.block-book .add-photo {
  margin-top: 2vw;
  font-size: 31px;
  &:hover {
    cursor: pointer;
  }
    span, a {
      color: $add-photo;
    }
}

.block-book #upload_link {
  text-decoration: none;
}
.block-book #upload {
  display: none
}
/* -------------------- BLOCK BOOK END -------------------- */
