/* -------------------- BLOCK LOCATIONS BEGIN -------------------- */
.locations {
  margin-bottom: 5vw;
}
.shadow {
  width: 110%;
  height: 50px;
  z-index: 50;
  position: absolute;
  margin-top: -50px;
  margin-bottom: 4px;
  margin-left: -5%;
  box-shadow: -11px 25px 45px -10px rgba(0, 0, 0, 0.6);
}
#place {
  width: 100%;
  height: 400px;
}
/* -------------------- BLOCK LOCATIONS END -------------------- */