/* -------------------- BLOCK TEXT-WITH-PICTURE BEGIN -------------------- */
.simple-text {
  font-size: 24px;
  font-family: "Century Gothic Regular", Arial, sans-serif;
  @include laptop-md {
    font-size: 1.5vw;
  }
  @include laptop-sm {
    font-size: 2.5vw;
    line-height: 4vw;
  }
  @include tablet-md {
    font-size: 5vw;
    line-height: 6vw;
  }
}
.inline-logo {
  display: inline-block;
  width: 90px;
  height: 30px;
  background: url(../img/logo.png) no-repeat;
  background-size: cover;
  @include mobile-lg {
    width: 80px;
    height: 26px;
  }
}
.text-primary {
  font-size: 2.74vw;
  color: $main;
  @include tablet {
    font-size: 5vw;
  }
  @include tablet-md {
    font-size: 6vw;
  }
}
.rest-for-free {
  font-size: 4.3vw;
  @include tablet-md {
    font-size: 7vw;
  }
}
.picture {
  width: 27vw;
  height: 35vw;
  margin: 0 auto;
  background: url('../img/picture.jpg') no-repeat;
  background-size: contain;
  @include desktop-sm {
    width: 32vw;
  }
  @include laptop-sm {
    width: 35vw;
    height: 45vw;
  }
  @include tablet {
    //max-width: 523px;
    width: 290px;
    height: 373px;
  }
}
/* -------------------- BLOCK TEXT-WITH-PICTURE END -------------------- */