/* -------------------- BLOCK DESCRIPTION-TEXT BEGIN -------------------- */
.description-text {
  margin-top: 2.8vw;
  margin-left: 2.2vw;
  line-height: 1.9vw;
  font-family: "Century Gothic Regular", Arial, sans-serif;
  font-size: 24px;
}
/* -------------------- BLOCK DESCRIPTION-TEXT END -------------------- */