$main: #0094e0;
$white: #ffffff;
$black: #000000;
$border: #62cbff;
$top-bar-links: #133665;
$hexagon-border: #3f97a8;
$soc-orange: #f07d00;
$soc-blue: #3571b5;
$soc-dark-blue: #22458d;
$bg-footer: #133765;
$add-photo: #6fc400;