#pendulum{
  //width: 15px;
  //height: 150px;
  margin: -10px auto 0;
  //position: relative;
  //z-index: 1;
  -webkit-animation: pendulum 2s cubic-bezier(.57,.07,.47,.84) infinite;
  -moz-animation: pendulum 2s cubic-bezier(.57,.07,.47,.84) infinite;
  animation: pendulum 2s cubic-bezier(.57,.07,.47,.84) infinite;
  //transform-origin: 0 0 0;
  //-webkit-transform-origin: 0 0 0;
  //-moz-transform-origin: 0 0 0;
  transform-origin: 20% 0%;
  background: red; /* Old browsers */

  position: absolute;
  background: url("../img/saliva.png") no-repeat;
  background-size: contain;
  top: -15.6vw;
  right: 24.35vw;
  z-index: 10;
  width: 4vw;
  height: 17vw;
  @include large-desktop-lg {
    top: -15.7vw;
    right: 24.9vw;
  }
  @include large-desktop-mini {
    top: -15.6vw;
  }
  @include break-twelve {
    top: -15.5vw;
  }
  @include col-btn-yes {
    top: -15.3vw;
  }
  @include tablet {
    top: -15vw;
  }
  @include phone-md {
    top: -14vw;
  }
}

/*pendulum animation*/
@-webkit-keyframes pendulum {
  0%{
    -webkit-transform: rotate(-5deg);
  }
  50%{
    -webkit-transform: rotate(5deg);
  }
  100%{
    -webkit-transform: rotate(-5deg);
  }
}
@-moz-keyframes pendulum {
  0%{
    -moz-transform: rotate(-5deg);
  }
  50%{
    -moz-transform: rotate(5deg);
  }
  100%{
    -moz-transform: rotate(-5deg);
  }
}
@keyframes pendulum {
  0%{
    transform: rotate(-5deg);
  }
  50%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(-5deg);
  }
}

#pendulum.off {
  -moz-animation-name: none;
  -webkit-animation-name: none;
  -ms-animation-name: none;
  animation-name: none;
}

.green {
  background: transparent !important;
}