.animation-back {
  //width: 100px;
  //height: 100px;
  //background-color: red;
  animation: back;
  animation-delay: 3s, 5s, 10s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
@keyframes back {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 0;
  }
  60% {
    margin-left: -10px;
  }
  70% {
    margin-left: 0;
  }
  80% {
    margin-left: -10px;
  }
  90% {
    margin-left: 0;
  }
  100% {
    margin-left: 0;
  }
}