.bg-body {
  max-width: 1392px;
  height: 1064px;
  margin: 0 auto;
  background: url('../img/body2.png') no-repeat;
  background-size: contain;
}
.skirt {
  position: relative;
  z-index: 30;
}

/* -------------- MAN BEGIN -------------- */
.bg-body-man {
  position: relative;
  max-width: 1392px;
  margin: 0 auto;
  background: url('../img/body-man.png') no-repeat;
  background-size: contain;
  overflow: hidden;
  @include phone-md {
    min-height: 285px;
    background-size: cover;
    background-position: center;
  }
}
.underpants {
  //visibility: hidden;
  position: relative;
  z-index: 30;
  @include underpants {
    width: 146%;
    margin-left: -23vw;
  }

}
/* -------------- MAN END -------------- */