.block-logo-sex-locator {
  background-color: $bg-red;
  border-radius: 5px;
}
.logo-sex-locator {
  margin: 0 auto;
  width: 313px;
  height: 112px;
  background: url('../img/logo-sex-locator.png') no-repeat;
}
p {
  font-size: 30px;
  color: $black-lighter;
}