.bg-body {
  //max-width: 1392px;
  //height: 1064px;
  //margin: 0 auto;
  //background: url('../img/body.png') no-repeat;
  //background-size: contain;
  max-width: 1392px;
  height: 1064px;
  margin: 0 auto;
  background: url('../img/body2.png') no-repeat;
  background-size: contain;

  //background: url('../img/body3.png') no-repeat;
  //background-size: contain;
  //
  //padding-top: 50%;
}
.skirt {
  visibility: hidden;
}