.eyes {
  margin-top: -40px;
  overflow: hidden;
  background-color: $skin;
  display: block;
  @include leggy {
    display: none;
  }
}
.bg-shadow {
  width: 50%;
  height: 405px;
  float: left;
  padding-top: 60px;
  background-color: $shadow;
  border-top-right-radius: 200px;
  @include large-desktop-lg {
    .col-lg-offset-6 {
      margin-left: 45%;
    }
  }
}
.skin {
  width: 50%;
  height: 405px;
  float: right;
  padding-top: 60px;
  background-color: $skin;
  .col-lg-offset-1 {
    @include large-desktop-lg {
      margin-left: 11.333333%;
    }
  }
}
.eye-left {
  width: 388px;
  height: 304px;
  background: url('../img/eye-left.png') no-repeat;
}
.eye-right {
  width: 388px;
  height: 304px;
  background: url('../img/eye-right.png') no-repeat;
}



// eyes animation

//#follower{
//  position: relative;
//  width: 675px;
//  height: 132px;
//  border-radius: 50px;
//}
//.eye {
//  width: 15px;
//  height: 15px;
//  background-color: black;
//  border-radius: 15px;
//  position: absolute;
//}
//.left {
//  left: 0;
//  width: 141px;
//  height: 140px;
//  background: url('../img/pupil-left.png') no-repeat;
//  background-size: 80%;
//}
//.right {
//  right: 0;
//  width: 141px;
//  height: 140px;
//  background: url('../img/pupil-right.png') no-repeat;
//  background-size: 80%;
//}
//.centerdiv {
//  width: 200px;
//  margin-left:auto;
//  margin-right:auto;
//  position:relative;
//}
//.cont {
//  width: 712px;
//  height: 165px;
//  position: absolute;
//  top: 148px;
//  left: -260px;
//  overflow: hidden;
//}


#follower{
  position: relative;
  width: 675px;
  height: 132px;
  border-radius: 50px;

  width: 35vw;
  @include large-desktop-lg {
    width: 37vw;
  }
  @include large-desktop-xs {
    width: 38vw;
  }
  @include large-desktop-mini {
    width: 37vw;
  }
}
.eye {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 15px;
  position: absolute;
}
.left {
  left: 0;
  width: 141px;
  height: 140px;
  background: url('../img/pupil-left.png') no-repeat;
  background-size: 80%;
}
.right {
  right: 0;
  width: 141px;
  height: 140px;
  background: url('../img/pupil-right.png') no-repeat;
  background-size: 80%;
}
.centerdiv {
  width: 200px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
.cont {
  //width: 712px;
  height: 165px;
  position: absolute;
  top: 148px;
  left: -260px;
  overflow: hidden;

  //width: 40vw;
  //left: -13vw;
  width: 41vw;
  left: -13vw;
  @include large-desktop-lg {
    width: 39.2vw;
    left: -12vw;
  }
  @include large-desktop-sm {
    width: 40vw;
    left: -11.2vw;
  }
  @include large-desktop-xs {
    left: -10vw;
  }
  @include large-desktop-mini {
    width: 42vw;
    left: -10.5vw;
  }
}


/* ------------------------- EYES-MOB BEGIN ------------------------- */
.block-eyes-mob {
  margin-top: -60px;
  margin-bottom: 3px;

}
.eyes-mob {
  background: url('../img/mask.jpg') no-repeat;
  display: none;
  max-height: 360px;
  max-width: 1692px;
  position: relative;
  margin: 0 auto;
  padding-top: 26%;
  background-position: center;
  background-size: contain;
  margin-top: 58px;
  @include leggy {
    display: block;
  }
}
.outer-eye {
  /*Positioning*/
  position: relative;
  display: inline-block;
  /*Styling*/
  background: white;
  border-radius: 50%;
  /*Size*/
  //width: 100px;
  //height: 100px;
  width: 14vw;
  height: 14vw;
}

.outer-eye-2 {
  //left: 50px;
}

.inner-eye {
  /*Positioning*/
  position: absolute;
  top: 5vw;
  left: 5vw;
  /*Styling*/
  //background: #4056f4;
  border-radius: 50%;
  /*Size*/
  //width: 35px;
  //height: 35px;
  //width: 50px;
  width: 8vw;
  height: 50px;
  /*Assigns animation*/
  animation: shifty 3s infinite;
}

/*Begin animation details*/
@keyframes shifty {
  50% {
    /*Moves pupils to left, change number to see what happens*/
    transform: translateX(-25px);
  }
  75% {
    /*Moves pupils right and up, change numbers to see what happens*/
    transform: translateY(-30px) translateX(-10px);
  }
}
@media screen and (max-width:1920px) {
  @keyframes shifty {
    50% {
      transform: translateX(-25px);
    }
    75% {
      transform: translateY(-30px) translateX(-10px);
    }
  }
}
@media screen and (max-width:550px) {
  @keyframes shifty {
    50% {
      transform: translateX(-15px);
    }
    75% {
      transform: translateY(-10px) translateX(0);
    }
  }
}

#outer-eye-left {
  position: absolute;
  top: 5vw;
  left: 22vw;
}
#outer-eye-right {
  position: absolute;
  top: 5vw;
  right: 22vw;
}
.inner-eye-left {
  max-width: 8vw;
  height: 8vw;
  background: url('../img/pupil-left.png') no-repeat;
  background-size: contain;
}
.inner-eye-right {
  //max-width: 50px;
  //height: 50px;
  max-width: 8vw;
  height: 8vw;
  background: url('../img/pupil-right.png') no-repeat;
  background-size: contain;
}
/* ------------------------- EYES-MOB END ------------------------- */