.how-many {
  padding-top: 73px;
  padding-bottom: 53px;
  background-color: $bg-main;
}
.call-to-action {
  font-size: 46px;
  font-family: "CenturyGothicRegular", Arial, sans-serif;
  font-weight: bold;
  color: $blue-dark;
  @include break-twelve {
    font-size: 35px;
  }
  @include col-btn-yes {
    font-size: 26px;
  }
  @include tablet {
    text-align: center;
  }
  @include phone-md {
    font-size: 30px;
  }
}