.how-many {
  padding-top: 73px;
  padding-bottom: 53px;
  background-color: $bg-main;
}
.call-to-action {
  font-size: 46px;
  font-family: "CenturyGothicRegular", Arial, sans-serif;
  font-weight: bold;
  color: $blue-dark;
}