//$phone: 400px;
$phone-mini: 320px;
$phone: 375px;
$phone-md: 455px;
$phone-lg: 570px;
$phone-xl: 700px;
$tablet: 767px;

$bg-footer-first: 1070px;
$speech-bubble-break: 1170px;
$break-twelve: 1200px;
$bg-footer: 1372px;
$bg-body: 1392px;
$leggy: 1400px;
$large-desktop-mini: 1500px;
$large-desktop-xs: 1500px;
$large-desktop-sm: 1600px;
$large-desktop-lg: 1700px;

@mixin phone-mini {
  @media (max-width: #{$phone-mini + 1px}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: #{$phone + 1px}) {
    @content;
  }
}
@mixin phone-md {
  @media (max-width: #{$phone-md + 1px}) {
    @content;
  }
}
@mixin phone-lg {
  @media (max-width: #{$phone-lg + 1px}) {
    @content;
  }
}
@mixin phone-xl {
  @media (max-width: #{$phone-xl - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet + 1px}) {
    @content;
  }
}
@mixin small-devices {
  @media (max-width: #{$small-devices - 1px}) {
    @content;
  }
}
@mixin medium-desktop {
  @media (max-width: #{$medium-desktop - 1px}) {
    @content;
  }
}
@mixin medium-desktop-lg {
  @media (max-width: #{$medium-desktop-lg - 1px}) {
    @content;
  }
}
@mixin large-desktop {
  @media (max-width: #{$large-desktop + 1px}) {
    @content;
  }
}
@mixin large-desktop-lg {
  @media (max-width: #{$large-desktop-lg + 1px}) {
    @content;
  }
}


@mixin bg-footer-first {
  @media (max-width: #{$bg-footer-first + 1px}) {
    @content;
  }
}
@mixin speech-bubble-break {
  @media (max-width: #{$speech-bubble-break + 1px}) {
    @content;
  }
}
@mixin break-twelve {
  @media (max-width: #{$break-twelve - 1px}) {
    @content;
  }
}
@mixin bg-footer {
  @media (max-width: #{$bg-footer - 1px}) {
    @content;
  }
}
@mixin bg-body {
  @media (max-width: #{$bg-body + 1px}) {
    @content;
  }
}
@mixin leggy {
  @media (max-width: #{$leggy - 1px}) {
    @content;
  }
}
@mixin large-desktop-mini {
  @media (max-width: #{$large-desktop-mini - 1px}) {
    @content;
  }
}
@mixin large-desktop-xs {
  @media (max-width: #{$large-desktop-xs - 1px}) {
    @content;
  }
}
@mixin large-desktop-sm {
  @media (max-width: #{$large-desktop-sm + 1px}) {
    @content;
  }
}
@mixin large-desktop-lg {
  @media (max-width: #{$large-desktop-lg + 1px}) {
    @content;
  }
}