.bg-skin {
  position: relative;
  overflow: hidden;
  //background-color: $skin;
    //.bg-shadow {
    //  //height: 1077px;
    //  height: 1073px;
    //  border-radius: 0;
    //}
    form {
      position: absolute;
      top: 67px;
      right: 0;
      left: 0;
      margin: auto;
      max-width: 1200px;
      @include tablet {
        top: 20px;
      }
    }
}
.shadow-dark {
  background-color: $shadow-dark;
}
.skin-dark {
  background-color: $skin-dark;
}
.saliva {
  //position: absolute;
  //right: 164px;
  //bottom: -16px;
  //width: 35px;
  //height: 326px;
  //background: url('../img/saliva.png') no-repeat;
  //background-size: contain;
  //
  //top: -16.1vw;
  //right: 27vw;
  //z-index: 10;


  position: absolute;
  //bottom: -16px;
  width: 35px;
  background: url("../img/saliva.png") no-repeat;
  background-size: contain;
  top: -16.1vw;
  right: 27vw;
  z-index: 10;

  top: -16.1vw;
  right: 24.8vw;
  z-index: 10;
  width: 4vw;
  height: 17vw;
}
.block-btn-back {
  position: absolute;
  bottom: 41px;
  left: 90px;
  @include phone-lg {
    left: 0;
  }
  a {
    padding: 5px 5px 5px 2px;
    //font-size: 48px;
    font-size: 2.5vw;
    font-family: "CenturyGothicRegular", Arial, sans-serif;
    color: $black;
    &:hover {
      padding: 5px 5px 5px 0;
      border: 2px solid $btn-yes-first;
      border-radius: 10px;
      text-decoration: none;
    }
  }
}
.arrow-back {
  position: relative;
  display: inline-block;
  //top: 12px;
  margin-right: 16px;
  //width: 77px;
  //height: 60px;

  top: 0.9vw;
  width: 4vw;
  height: 3.2vw;
  background: url('../img/arrow-back.png') no-repeat;
  background-size: contain;
}

div.picture-mouth.mouth-search {
  background: url('../img/mouth-search.jpg') no-repeat;
  background-position: 67%;
  background-size: contain;
  display: none;
  @include large-desktop-lg {
    padding-top: 65%;
  }
  @include bg-footer-first {
    padding-top: 70%;
  }
  @include col-btn-yes {
    padding-top: 80%;
  }
  @include phone-xl {
    padding-top: 83%;
    min-height: 575px;
  }
}
.form-main {
  width: 100%;
}
.block-lot {
  display: none;
}
.mouth-lot {
  //position: relative;
  //max-width: 1200px;
  //height: 1073px;
  //margin: 0 auto;
  //background: url('../img/mouth-lot.jpg') no-repeat;
  //background-size: contain;
  //display: none;
  background: url('../img/mouth-lot.jpg') no-repeat;
  background-position: center;
  background-size: contain;
}
.mouth-shadow, .mouth-skin {
  height: 1073px;
}
.form-horizontal .search-input-label {
  text-align: left;
}
.search-input-label {
  text-align: left;
  font-size: 30px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  line-height: 40px;
  color: $blue-dark;
  @include bg-footer {
    margin-left: 20px;
  }
  @include speech-bubble-break {
    font-size: 25px;
  }
}
.bitch, .dude {
  font-weight: 500;
}
.btn-search {
  margin-top: 133px;
  padding: 2px 167px;
  background-color: $btn-yes-first;
  border-radius: 10px;
  font-family: "CenturyGothicRegular";
  font-size: 61px;
  font-weight: bold;
  color: $white;
  border: none;
  &:hover {
    background-color: $btn-red-hover;
    color: $white;
  }
  @include btn-search {
    margin-top: 30px;
  }
  @include bg-footer {
    margin-left: 23px;
  }
  @include col-btn-yes {
    margin-top: 17px;
  }
  @include tablet {
    padding: 2px 77px;
    font-size: 30px;
  }
}
//.speech-bubble-lot {
//  position: relative;
//    p {
//      position: absolute;
//      font-size: 3.4em;
//      font-family: "CenturyGothicRegular";
//      top: 4.3em;
//      left: 2.9em;
//      @include speech-bubble-break {
//        top: 4em;
//        font-size: 4vw;
//      }
//      @include tablet {
//        font-size: 3.7vw;
//      }
//      @include phone-lg {
//        top: 3em;
//        font-size: 3.5vw;
//      }
//      @include phone-md {
//        top: 2em;
//      }
//      @include phone {
//        top: 1em;
//      }
//        span {
//          font-size: 60px;
//          color: $btn-yes-first;
//        }
//    }
//}
.form-inline {
  .search-city {
    max-width: 392px;
    margin-left: -53px;
    padding: 3px 17px;
    height: 68px;
    border: 3px solid $blue-dark;
    border-radius: 10px;
    font-size: 39px;
    color: $blue-dark;
    @include speech-bubble-break {
      margin-left: 10px;
    }
    @include tablet {
      width: 210px;
      margin-left: 75px;
      font-size: 23px;
    }
  }
  .search-city::-webkit-input-placeholder {color:$blue-dark;}
  .search-city::-moz-placeholder          {color:$blue-dark;}/* Firefox 19+ */
  .search-city:-moz-placeholder           {color:$blue-dark;}/* Firefox 18- */
  .search-city:-ms-input-placeholder      {color:$blue-dark;}
}

// CHECKBOXES
.list-checkboxes {
  margin-left: -63px;
  padding-left: 0;
  float: left;
  @include speech-bubble-break {
    margin-left: 0;
  }
  @include bg-footer-first {
    float: none;
  }
  @include tablet {
    //float: none;
    margin-left: 65px;
  }
    li {
      list-style: none;
        label {
          span {
            position: absolute;
            top: 15px;
          }
        }
    }
    li:first-child {
      margin-bottom: 10px;
    }
}
input[type=radio]{display:none;}
input[type=radio] + label.btn{
  padding: 3px 17px;
  margin: 5px 10px;
  display: inline-block;
  font-weight: 700;
  outline: none;
  position: relative;
  background: $white;
  box-shadow: 0 4px $blue-dark;
  transition: none;
  border-radius: 10px;
  cursor: pointer;

  border: 3px solid $blue-dark;
  width: 392px;
  text-align: left;
  font-size: 25px;
  color: $blue-dark;
}

input[type=radio] + label.btn:hover{
  box-shadow: 0 2px $blue-dark;
  top: 2px;
}

input[type=radio]:checked + label.btn{
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
  border: 3px solid $btn-yes-first;
}
label.label-bitches {
  @include col-btn-yes {
    display: block;
    float: none;
  }
  @include tablet {
    margin-left: 141px;
    max-width: 210px;
  }
}
label.label-dogs {
  @include col-btn-yes {
    display: block;
    float: none;
  }
  @include tablet {
    margin-left: 141px;
    max-width: 210px;
  }
}
.fa-venus {
  margin-right: 30px;
  transform: rotate(105deg);
  font-size: 53px;
  color: $symbol-female;
}
.fa-mars {
  margin-right: 22px;
  transform: rotate(-10deg);
  font-size: 53px;
  color: $symbol-male;
}
.me {
  float: left;
  font-size: 54px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  color: $blue-dark;
  @include bg-footer {
    margin-left: 20px;
  }
  @include speech-bubble-break {
    margin-right: 7px;
    margin-left: 76px;
  }
  @include tablet {
    margin-right: 50px;
    margin-left: 17px;
    font-size: 35px;
  }
}
.label-sex {
  margin-right: 26px;
  margin-left: -53px;
}
.form-group-how-many {
  margin-top: 136px;
  @include large-desktop-lg {
    margin-top: 30px;
  }
  @include tablet {
    margin-top: 10px;
    margin-left: 115px;
  }
}
.form-group-which-city {
  margin-top: 140px;
  @include large-desktop-lg {
    margin-top: 30px;
  }
  @include tablet {
    margin-top: 20px;
  }
}
.label-city {
  margin-top: -15px;
}

/* ------------------- MOUTH-LITTLE (РОТ МАЛО) ------------------- */
.block-little {
  //display: none;
}
.mouth-little {
  //position: relative;
  //left: 7px;
  //max-width: 1200px;
  //height: 1073px;
  //margin: 0 auto;
  background: url('../img/mouth-little.jpg') no-repeat;
  background-position: center;
  background-size: contain;
  //background-size: contain;
  //display: none;
}

/* ------------------- Чекбокс Я ------------------- */
.radiobutton-custom {
  padding: 27px 44px;
  border: 3px solid $blue-dark;
  background-position: 55% 45%;
  background-color: $white;
  border-radius: 10px;
  border-bottom: 6px solid $blue-dark;
  &:hover {
    margin-top: 3px;
    margin-bottom: -3px;
    border-bottom: 3px solid $blue-dark;
  }
  @include bg-footer {
    padding: 2.1vw 3.5vw;
  }
  @include col-btn-yes {
    width: 100px;
    height: 90px;
  }
  @include tablet {
    width: 90px;
    height: 90px;
  }
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{
  cursor:pointer;
  border: 3px solid transparent;
}
label > input:checked + img{
  border: 3px solid $btn-yes-first;
  &:hover {
    margin-top: 0;
    border-bottom: 3px solid $btn-yes-first;
  }
}