.top-bar {
  padding-top: 71px;
  padding-bottom: 71px;
  background-color: $bg-main;
  @include phone-xl {
    padding-top: 23px;
    padding-bottom: 10px;
  }
  @include phone-md {
    padding-top: 23px;
    padding-bottom: 0;
  }
}
.top-bar-divider {
  height: 40px;
  background-color: $grey-dark;
  opacity: 0.55;
}
.logo-my-linker {
  width: 237px;
  height: 81px;
  background: url('../img/logo-my-linker.png') no-repeat;
  //background-size: contain;
  @include phone-xl {
    //background-size: 70%;
    width: auto;
    background-size: contain;
  }
  //@include phone-md {
  //  height: 65px;
  //  background-size: 50%;
  //}
  //@include phone {
  //  background-size: 40%;
  //}
}
.logo-pharm-linker {
  width: 237px;
  height: 81px;
  background: url('../img/logo-pharm-linker.png') no-repeat;
  //background-size: contain;
  @include phone-xl {
    //background-size: 70%;
    width: auto;
    background-size: contain;
  }
  //@include phone-md {
  //  height: 65px;
  //  background-size: 50%;
  //}
  //@include phone {
  //  background-size: 40%;
  //}
}