/* ----------------- ВЕРХНИЕ ЛОГО (НАЧАЛО) ----------------- */
.top-bar {
  padding-top: 71px;
  padding-bottom: 71px;
  background-color: $bg-main;
  @include phone-xl {
    padding-top: 23px;
    padding-bottom: 10px;
  }
  @include phone-md {
    padding-top: 23px;
    padding-bottom: 0;
  }
}
.top-bar-divider {
  height: 40px;
  background-color: $grey-dark;
  opacity: 0.55;
}
.logo-my-linker {
  width: 237px;
  height: 81px;
  background: url('../img/logo-my-linker.png') no-repeat;
  @include phone-xl {
    width: auto;
    background-size: contain;
  }
}
.logo-pharm-linker {
  width: 237px;
  height: 81px;
  margin-left: 24px;
  background: url('../img/logo-pharm-linker.png') no-repeat;
  @include break-twelve {
    margin-left: 0;
  }
  @include phone-xl {
    width: auto;
    background-size: contain;
  }
}
/* ----------------- ВЕРХНИЕ ЛОГО (КОНЕЦ) ----------------- */