$bg-main: #8df2ff;
$grey-dark: #010101;

$shadow: #f0dad0;
$skin: #faeae3;

$red-border: #f52c4b;
$btn-hover-border: #f1f1f1;

$black-lighter: #00091a;

$btn-yes-text: #fefefe;
$btn-yes-first: #f72847;
$btn-yes-second: #f72847;

$shadow-dark: #e5cdc2;
$skin-dark: #faeae3;

//$bg-red: #f72847;

$blue-dark: #014572;

$symbol-female: #ef5270;
$symbol-male: #12cbe3;

$bg-blue: #034874;
$white: #ffffff;

$btn-red-hover: #a9152b;
$warning-text: #0a0702;

// footer
$bg-vk: #4d75a3;
$bg-tw: #00b6f1;
$bg-fb: #3b579d;