.warning {
  padding-top: 16px;
  padding-bottom: 58px;
  background-color: $bg-main;
}
.warning {
  font-size: 24px;
  //font-weight: bold;
}
.btn-adult, .btn-not-adult {
  width: 310px;
  padding: 3px 6px;
  border: 2px solid $red-border;
  border-radius: 10px;
  font-size: 24px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: $grey-dark;
  &:hover {
    background-color: $btn-hover-border;
    border: 2px solid $red-border;
  }
}
