.col-btn-yes, .col-btn-no {
  @include col-btn-yes {
    text-align: center;
  }
}
.warning {
  padding-top: 44px;
  padding-bottom: 17px;
  background-color: $bg-main;
  font-size: 24px;
  font-family: "CenturyGothicRegular", Arial, sans-serif;
  font-weight: bold;
  @include leggy {
    padding-top: 20px;
  }
}
.warning-text {
  max-width: 850px;
  margin: 0 auto 37px;
  font-size: 16px;
  color: $warning-text;
}
.btn-adult {
  padding: 5px 42px;
  @include phone-md {
    padding: 10px;
  }
}
.btn-not-adult {
  //margin-left: 43px;
  margin-left: 51px;
  padding: 5px 35px;
  @include col-btn-yes {
    margin-left: 0;
  }
  @include phone-md {
    margin-left: 0;
    padding: 10px;
  }
}
.btn-adult, .btn-not-adult {
  max-width: 310px;
  margin-bottom: 40px;
  //padding: 5px 42px;
  border: 3px solid $red-border;
  border-radius: 10px;
  font-size: 24px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: $grey-dark;
  &:hover {
    background-color: $btn-hover-border;
    border: 3px solid $red-border;
  }
}
