.warning {
  padding-top: 16px;
  padding-bottom: 17px;
  background-color: $bg-main;
  font-size: 24px;
  font-family: "CenturyGothicRegular", Arial, sans-serif;
  font-weight: bold;
}
.warning-text {
  max-width: 850px;
  margin: 0 auto 37px;
  font-size: 16px;
  color: $warning-text;
}
.btn-not-adult {
  margin-left: 43px;
}
.btn-adult, .btn-not-adult {
  max-width: 310px;
  margin-bottom: 40px;
  padding: 3px 38px;
  border: 3px solid $red-border;
  border-radius: 10px;
  font-size: 24px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: $grey-dark;
  &:hover {
    background-color: $btn-hover-border;
    border: 3px solid $red-border;
  }
}
