.block-header-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.logo {
  display: block;
  float: left;
  width: 165px;
  height: 64px;
  background: url("../img/logo.png") no-repeat; }

.geo-mark {
  width: 22px;
  height: 28px;
  background: url("../img/geo-mark.png") no-repeat; }

.select-header {
  width: 60%; }

.navbar-toggle .icon-bar-custom {
  background-color: #133665; }

.bg-header {
  width: 100%;
  height: 130px;
  background: url(../img/bg-header.jpg) no-repeat;
  background-size: contain; }

.row-location {
  margin-top: 20px;
  margin-bottom: 20px; }

.block-tabs {
  border-top: 1px solid grey;
  margin-top: 50px; }

.container-tabs {
  margin-top: -41px; }

.slider {
  width: 500px;
  height: 400px;
  background-color: #979797; }

.container-widget {
  position: absolute;
  width: 375px;
  right: 359px;
  z-index: 10; }

.thumbnail-custom {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
  border: 2px solid grey;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.col-person {
  margin-bottom: -2px;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 14px;
  padding-bottom: 10px;
  max-width: 341px;
  -webkit-border-top-left-radius: 9px;
          border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px;
          border-top-right-radius: 9px;
  background-color: #ededed; }

.thumbnail-avatar {
  width: 20%;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  border: 2px solid #000;
  -webkit-border-radius: 7px;
  border-radius: 7px; }

.person-name {
  margin-top: 7px;
  padding-left: 35px;
  list-style: none;
  color: #00398B;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px; }

.price-per-day {
  margin-top: 9px;
  padding-left: 23px;
  font-size: 24px;
  color: #133665;
  font-weight: 600; }

.show-all-variants {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #00398B; }

.li-all-variants {
  padding-top: 8px; }

.price-digits {
  padding-left: 4px;
  font-size: 24px;
  font-weight: 600;
  color: #FFAB1F; }

.owner-phone-number {
  float: left;
  max-width: 185px;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px 8px 8px 13px;
  position: relative; }

.owner-phone-number::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 204, 0, 0)), color-stop(27%, #fff));
  background: -webkit-linear-gradient(left, rgba(255, 204, 0, 0), #fff 27%);
  background: linear-gradient(to right, rgba(255, 204, 0, 0), #fff 27%); }

.show-owners-phone {
  display: block;
  padding-top: 3px;
  font-size: 15px;
  margin-top: 9px;
  color: #8ABA8E;
  text-decoration: underline; }

.input-group-custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -7px 10px 10px 9px; }

.date-container-guests {
  margin-bottom: 10px; }

.date-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }

.label-guests-number {
  margin-right: 20px;
  margin-top: 0;
  font-size: 18px; }

.input-group .form-control-guests-number {
  width: 27%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 20px;
  padding-top: 0;
  margin-top: -2px;
  margin-left: -16px; }

.input-group .form-control {
  display: table-cell; }

.form-control-guests-number[type=number]::-webkit-inner-spin-button,
.form-control-guests-number[type=number]::-webkit-outer-spin-button {
  opacity: 1; }

.form-control-guests-number[type=number]::-moz-inner-spin-button,
.form-control-guests-number[type=number]::-webkit-outer-spin-button {
  opacity: 1; }

.calendar {
  display: block;
  width: 117px;
  height: 108px;
  margin-right: 15px;
  background: url(../img/calend.png) no-repeat; }

.calendar-flat {
  width: 20%;
  margin-top: 30px; }

.block-date-inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%; }

.calendar-date {
  float: left;
  width: 70px;
  height: 64px;
  margin-top: -1px;
  margin-right: 4px;
  margin-left: 15px;
  background: url(../img/calend.png) no-repeat;
  background-size: 82%; }

.dates-label {
  margin-top: -3px;
  margin-left: 17px;
  font-size: 21px;
  font-weight: 400;
  color: #003789; }

.date-inputs-flat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -7px; }

.input-in-date {
  margin-right: 7px;
  margin-bottom: 15px;
  width: 103px;
  padding-left: 7px;
  padding-right: 0;
  font-size: 15px;
  height: 25px; }

.btn-block {
  margin-top: -7px;
  padding-top: 3px;
  padding-bottom: 4px; }

.book {
  width: 284px;
  margin: -7px auto 0;
  padding-top: 2px;
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: 600; }

.r-tabs .r-tabs-nav {
  margin: 0;
  padding: 0; }

.r-tabs .r-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none; }

.r-tabs .r-tabs-panel {
  padding: 15px;
  display: none; }

.r-tabs .r-tabs-accordion-title {
  display: none; }

.r-tabs .r-tabs-panel.r-tabs-state-active {
  display: block; }

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
  .r-tabs .r-tabs-nav {
    display: none; }
  .r-tabs .r-tabs-accordion-title {
    display: block; } }

/* Tabs container */
.r-tabs {
  position: relative;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
  position: relative; }

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
  display: inline-block;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold; }

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
  opacity: 0.5; }

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
  color: #133665;
  text-shadow: none;
  background-color: white;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px; }

/* Tab panel */
.r-tabs .r-tabs-panel {
  background-color: white;
  border-bottom: 4px solid white;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px; }

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
  display: block;
  padding: 10px;
  background-color: #00c5ad;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px; }

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
  background-color: #fff;
  color: #00c5ad;
  text-shadow: none; }

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
  opacity: 0.5; }

/* Buttons */
/* Info bar */
.info {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  width: 300px;
  line-height: 100%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  color: #00c5ad;
  border: 2px solid #00ab94;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer; }

/* ------------------ MY STYLES ------------------*/
li.r-tabs-state-active {
  border-top: 1px solid #979797;
  border-right: 1px solid #979797;
  border-left: 1px solid #979797;
  background-color: white;
  -webkit-border-top-left-radius: 15px;
          border-top-left-radius: 15px;
  border: 1px solid red;
  -webkit-border-top-right-radius: 15px;
          border-top-right-radius: 15px; }

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
  -webkit-border-radius: 13px;
          border-radius: 13px;
  color: #efb721; }
