@charset "UTF-8";
.btns-phone-block {
  margin-top: 54px;
  text-align: right;
  font-family: 'Roboto', 'Arial', sans-serif; }
  @media (max-width: 991px) {
    .btns-phone-block {
      text-align: center; } }
  .btns-phone-block .btn-create, .btns-phone-block .btn-enter {
    margin-top: -10px;
    font-size: 12px; }
    @media (max-width: 571px) {
      .btns-phone-block .btn-create, .btns-phone-block .btn-enter {
        display: block;
        margin-bottom: 25px; } }
  .btns-phone-block .btn-create {
    padding: 2px 9px; }
  .btns-phone-block .btn-enter {
    margin-left: 16px;
    padding: 2px 37px; }
    @media (max-width: 571px) {
      .btns-phone-block .btn-enter {
        margin-left: 0; } }
  .btns-phone-block .phone-number {
    margin-left: 22px;
    font-size: 26px;
    font-weight: 700;
    color: #133665; }
    @media (max-width: 1201px) {
      .btns-phone-block .phone-number {
        font-size: 20px; } }
    @media (max-width: 571px) {
      .btns-phone-block .phone-number {
        display: block;
        margin-bottom: 25px; } }

.top-block .block-header-left {
  position: relative;
  width: 390px;
  margin-top: 28px; }
  @media (max-width: 767px) {
    .top-block .block-header-left {
      margin-bottom: 20px; } }
  @media (max-width: 571px) {
    .top-block .block-header-left {
      width: 230px; } }

@media (max-width: 571px) {
  .top-block .logo-block {
    height: 67px;
    margin-top: 15px; } }

.top-block .geo-mark {
  float: left;
  width: 22px;
  height: 28px;
  margin-top: 29px;
  margin-right: 2px;
  margin-left: 26px;
  background: url("../img/geo-mark.png") no-repeat; }
  @media (max-width: 401px) {
    .top-block .geo-mark {
      width: 20px;
      height: 25px;
      background-size: contain;
      margin-top: 3px; } }

.top-block .select-header {
  margin-top: -2px;
  margin-left: 5px;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 18px;
  color: #133665;
  position: absolute;
  right: 0;
  width: 160px;
  top: 27px;
  text-decoration: underline;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .top-block .select-header::-ms-expand {
    display: none; }
  @media (max-width: 571px) {
    .top-block .select-header {
      font-size: 16px; } }
  @media (max-width: 401px) {
    .top-block .select-header {
      margin-top: -28px; } }

.row-location .block-header-left {
  width: 240px;
  margin-top: 28px; }
  @media (max-width: 767px) {
    .row-location .block-header-left {
      margin-bottom: 20px; } }

.logo {
  display: block;
  float: left;
  width: 165px;
  height: 64px;
  background: url("../img/logo.png") no-repeat; }

.row-location .geo-mark {
  float: left;
  width: 22px;
  height: 28px;
  margin-right: 10px;
  background: url("../img/geo-mark.png") no-repeat; }
  @media (max-width: 401px) {
    .row-location .geo-mark {
      width: 20px;
      height: 25px;
      background-size: contain;
      margin-top: 3px; } }

.row-location .select-header {
  width: 65%;
  width: 109px;
  margin-top: -2px;
  margin-left: 5px;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 24px;
  color: #133665;
  text-decoration: underline;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .row-location .select-header::-ms-expand {
    display: none; }
  @media (max-width: 571px) {
    .row-location .select-header {
      font-size: 16px; } }

.navbar-toggle .icon-bar-custom {
  background-color: #133665; }

.bg-header {
  width: 100%;
  height: 130px;
  margin-top: 12px;
  background: url(../img/bg-header.jpg) no-repeat;
  background-size: contain; }
  @media (max-width: 1249px) {
    .bg-header {
      background-size: cover;
      background-position: center; } }

.row-location {
  margin-top: 3px;
  margin-bottom: 20px; }

.row-location .address {
  margin-top: -2px;
  margin-bottom: 30px;
  margin-left: -38px;
  padding-top: 28px;
  font-size: 24px;
  color: #133665; }
  @media (max-width: 767px) {
    .row-location .address {
      margin-left: 0; } }
  @media (max-width: 571px) {
    .row-location .address {
      margin-top: 4px;
      font-size: 16px; } }

.block-tabs {
  border-top: 1px solid grey;
  margin-top: 34px; }

.container-tabs {
  margin-top: -56px; }

.container-tabs .new {
  font-family: 'Roboto Black', Arial, sans-serif;
  font-size: 19px;
  font-weight: 900;
  color: #d70001; }

hr.additional-info {
  border-top: 2px solid #bfbfbf; }

.additional-info-title, .table-additional-info {
  font-family: Roboto, Arial, sans-serif; }

.table-additional-info > tbody > tr > th,
.table-additional-info > tbody > tr > td {
  border: none; }

.slider {
  max-width: 500px;
  height: 400px;
  background-color: #979797; }

.slider-flat-description {
  padding-right: 10px;
  margin-top: 10px;
  font-family: Roboto, Arial, sans-serif; }
  @media (max-width: 571px) {
    .slider-flat-description {
      padding-right: 0; } }

button:active, button:focus {
  outline: none; }

button::-moz-focus-inner {
  border: 0; }

a:active, a:focus {
  outline: none; }

a::-moz-focus-inner {
  border: 0; }

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }

.hover-animation {
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out; }
  .hover-animation:hover {
    -webkit-box-shadow: 0 15px 57px -1px rgba(0, 0, 0, 0.75);
            box-shadow: 0 15px 57px -1px rgba(0, 0, 0, 0.75);
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px); }

.col-tab {
  margin-top: 10px; }

.container-widget {
  position: absolute;
  width: 375px;
  right: 359px;
  z-index: 10;
  font-family: Roboto, Arial, sans-serif; }

@media (max-width: 1651px) {
  .container-widget-large {
    display: none; } }

/* -------------- Виджет, который появ-ся при экране < 1650px (начало) -------------- */
.container-widget-small {
  display: none; }
  @media (max-width: 1651px) {
    .container-widget-small {
      position: relative;
      display: block;
      width: 100%;
      right: 0; } }

.container-widget-small .col-person {
  width: 100%;
  max-width: 100%; }

.container-widget-small .thumbnail-avatar {
  width: 10%; }
  @media (max-width: 767px) {
    .container-widget-small .thumbnail-avatar {
      width: 67px; } }

.container-widget-small .price-per-day {
  margin-top: 9px;
  padding-left: 4px;
  font-size: 24px;
  color: #133665;
  font-weight: 600; }
  @media (max-width: 401px) {
    .container-widget-small .price-per-day {
      font-size: 18px; } }

.container-widget-small .dates-label {
  margin-top: -3px;
  margin-left: 17px;
  font-size: 21px;
  font-weight: 400;
  color: #003789; }
  @media (max-width: 376px) {
    .container-widget-small .dates-label {
      margin-left: 9px; } }

.container-widget-small .calendar-date {
  margin-top: -1px;
  margin-right: 4px;
  margin-left: 9px; }
  @media (max-width: 571px) {
    .container-widget-small .calendar-date {
      width: 61px;
      height: 56px;
      background-size: 100%;
      margin-top: -5px;
      margin-left: 9px;
      margin-right: 10px; } }
  @media (max-width: 401px) {
    .container-widget-small .calendar-date {
      width: 35px;
      height: 32px;
      margin-top: 18px;
      background-size: 100%; } }
  @media (max-width: 376px) {
    .container-widget-small .calendar-date {
      display: none; } }

@media (max-width: 376px) {
  .container-widget-small .input-group-custom {
    margin-top: 20px; } }

.container-widget-small .book, .container-widget-small .write, .container-widget-small .btn-order-call {
  max-width: 100%;
  margin: -7px auto 18px;
  padding-top: 2px;
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: 600; }

.container-widget-small .warranty-list li {
  float: left;
  margin-right: 15px; }

/* -------------- Виджет, который появ-ся при экране < 1650px (конец) -------------- */
.thumbnail-custom {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
  border: 2px solid grey;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.col-person {
  margin-bottom: -2px;
  margin-top: 0;
  margin-left: 0;
  padding-top: 14px;
  padding-bottom: 10px;
  max-width: 341px;
  -webkit-border-top-left-radius: 9px;
          border-top-left-radius: 9px;
  -webkit-border-top-right-radius: 9px;
          border-top-right-radius: 9px;
  background-color: #ededed; }

.thumbnail-avatar {
  width: 20%;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  border: 2px solid #000;
  -webkit-border-radius: 7px;
  border-radius: 7px; }

.person-name {
  margin-top: 7px;
  padding-left: 35px;
  list-style: none;
  color: #00398B;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px; }

.container-widget-large .price-per-day {
  margin-top: 9px;
  padding-left: 23px;
  font-size: 24px;
  color: #133665;
  font-weight: 600; }

.show-all-variants {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #00398B; }

.li-all-variants {
  padding-top: 8px; }

.price-digits {
  padding-left: 4px;
  font-size: 24px;
  font-weight: 600;
  color: #FFAB1F; }

.owner-phone-number {
  float: left;
  max-width: 185px;
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px 8px 8px 13px;
  position: relative; }

.owner-phone-number::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 204, 0, 0)), color-stop(27%, #fff));
  background: -webkit-linear-gradient(left, rgba(255, 204, 0, 0), #fff 27%);
  background: linear-gradient(to right, rgba(255, 204, 0, 0), #fff 27%); }

.show-owners-phone {
  display: block;
  padding-top: 3px;
  font-size: 15px;
  margin-top: 9px;
  color: #8ABA8E;
  text-decoration: underline; }

.input-group-custom {
  margin: -7px 10px 10px 9px; }

.date-container-guests {
  margin-bottom: 10px; }

.date-container {
  margin-top: 20px; }

.label-guests-number {
  margin-right: 20px;
  margin-top: 0;
  font-size: 18px;
  float: left;
  width: 60px; }

.input-group .form-control-guests-number {
  width: 45%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 20px;
  padding-top: 0;
  margin-top: -2px;
  margin-left: -16px; }

.input-group .form-control {
  display: table-cell; }

.form-control-guests-number[type=number]::-webkit-inner-spin-button,
.form-control-guests-number[type=number]::-webkit-outer-spin-button {
  opacity: 1; }

.form-control-guests-number[type=number]::-moz-inner-spin-button,
.form-control-guests-number[type=number]::-webkit-outer-spin-button {
  opacity: 1; }

.calendar {
  display: block;
  width: 117px;
  height: 108px;
  margin-right: 15px;
  background: url(../img/calend.png) no-repeat; }

.calendar-flat {
  width: 20%;
  margin-top: 30px; }

.block-date-inputs {
  width: 80%; }

.calendar-date {
  float: left;
  width: 70px;
  height: 64px;
  background: url(../img/calend.png) no-repeat;
  background-size: 82%; }

.container-widget-large .calendar-date {
  margin-top: -1px;
  margin-right: 4px;
  margin-left: 15px; }

.container-widget-large .dates-label {
  margin-top: -3px;
  margin-left: 17px;
  font-size: 21px;
  font-weight: 400;
  color: #003789; }

.date-inputs-flat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -7px; }

.input-in-date {
  margin-right: 7px;
  margin-bottom: 15px;
  width: 103px;
  padding-left: 7px;
  padding-right: 0;
  font-size: 15px;
  height: 25px; }

.btn-block {
  margin-top: -7px;
  padding-top: 3px;
  padding-bottom: 4px; }

.container-widget-large .book,
.container-widget-large .write,
.container-widget-large .btn-order-call {
  max-width: 284px;
  margin: -7px auto 18px;
  padding-top: 2px;
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: 600; }

.book {
  background-color: #15325e;
  border-color: #15325e; }

.write {
  background-color: #e7ad35;
  border-color: #e7ad35; }

.btn-order-call {
  background-color: #e7d635;
  border-color: #e7d635; }

.answer-time {
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  color: #373737; }

.container-widget .warranty-footer {
  background-color: #ededed;
  margin-top: 20px;
  padding: 16px 32px;
  -webkit-border-bottom-right-radius: 9px;
          border-bottom-right-radius: 9px;
  -webkit-border-bottom-left-radius: 9px;
          border-bottom-left-radius: 9px; }

.media-shield {
  float: left;
  display: block;
  width: 55px;
  font-size: 60px;
  color: #028712; }

.warranty-list {
  overflow: hidden;
  padding-left: 0;
  list-style: none;
  font-size: 11px; }

.r-tabs .r-tabs-nav {
  margin: 0;
  padding: 0; }

.r-tabs .r-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none; }

.r-tabs .r-tabs-panel {
  padding: 15px;
  display: none; }

.r-tabs .r-tabs-accordion-title {
  display: none; }

.r-tabs .r-tabs-panel.r-tabs-state-active {
  display: block; }

/* Tabs container */
.r-tabs {
  position: relative;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
  position: relative; }

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
  display: inline-block;
  padding: 7px 6px;
  font-family: Roboto, Arial, sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold; }
  @media (max-width: 571px) {
    .r-tabs .r-tabs-nav .r-tabs-anchor {
      font-size: 17px; } }
  @media (max-width: 401px) {
    .r-tabs .r-tabs-nav .r-tabs-anchor {
      font-size: 13px; } }

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
  opacity: 0.5; }

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
  color: #133665;
  text-shadow: none;
  background-color: white;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px; }

/* Tab panel */
.r-tabs .r-tabs-panel {
  background-color: white;
  border-bottom: 4px solid white;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px; }

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
  display: block;
  padding: 10px;
  background-color: #00c5ad;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px; }

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
  background-color: #fff;
  color: #00c5ad;
  text-shadow: none; }

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
  opacity: 0.5; }

/* Info bar */
.info {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  width: 300px;
  line-height: 100%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  color: #00c5ad;
  border: 2px solid #00ab94;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer; }

/* ------------------ MY STYLES ------------------*/
#responsiveTabsDemo {
  border-top: 2px solid transparent; }

.block-tabs {
  border-top: 2px solid #979797; }

.r-tabs ul.r-tabs-nav {
  max-width: 646px;
  height: 54px;
  padding-top: 10px;
  border-bottom: 2px solid #979797;
  background: url("../img/bg-tab.png") no-repeat;
  background-position: 106px; }
  @media (max-width: 571px) {
    .r-tabs ul.r-tabs-nav {
      background-position: 92px; } }
  @media (max-width: 401px) {
    .r-tabs ul.r-tabs-nav {
      background-position: 74px; } }

.r-tabs li.r-tabs-state-active {
  margin-top: -2px;
  border-top: 1px solid #979797;
  border-right: 1px solid #979797;
  border-left: 1px solid #979797;
  background-color: white;
  -webkit-border-top-left-radius: 7px;
          border-top-left-radius: 7px;
  border: 2px solid #979797;
  border-bottom: 2px solid transparent;
  -webkit-border-top-right-radius: 7px;
          border-top-right-radius: 7px; }
  @media (max-width: 571px) {
    .r-tabs li.r-tabs-state-active {
      margin-top: -1px;
      padding-bottom: 1px; } }

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
  -webkit-border-radius: 7px;
          border-radius: 7px;
  color: #efb721; }

.r-tabs .r-tabs-nav .r-tabs-state-default a.r-tabs-anchor .underlined {
  text-decoration: none;
  border-bottom: 2px solid #133665;
  line-height: 0;
  color: #133665; }

.modal-steps {
  margin: 5px 10px; }

.step-1 {
  color: #003d69; }

.fa-modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
  color: grey;
  cursor: pointer; }

.modal-footer-contacts {
  border-top: transparent;
  text-align: center; }

.btn-next-step {
  border-color: transparent;
  color: #003d69; }

.input-first-step {
  width: 100%;
  font-style: italic;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #ffffff;
  border-style: solid;
  color: #979797;
  border: 1px solid #979797; }

.input-modal-phone {
  margin-top: 10px;
  margin-bottom: 10px; }

.or {
  font-style: italic;
  color: #979797; }

.modal-phone-number {
  font-size: 23px;
  font-weight: 600;
  color: #efb721; }

.modal-require-call {
  padding-bottom: 15px; }

.btn-require-call {
  width: 100%;
  margin: 0; }

.important {
  color: #efb721; }

.input-name {
  margin-top: 10px;
  margin-bottom: 10px; }

.explanation {
  margin-top: 15px;
  color: #003d69;
  font-size: 13px; }

.modal-date-input {
  height: 25px; }

.btn-write {
  width: 100%; }

.datepicker-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.modal-datepicker-label {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 5px;
  background: url("../img/calend.png") no-repeat;
  background-size: 90%; }

.modal-textarea {
  font-style: italic; }

.modal-label-checkbox {
  font-size: 13px; }

input[type="checkbox"].modal-checkbox {
  float: left;
  margin-left: -16px;
  margin-top: 20px; }

.checkbox-span {
  display: inline-block;
  margin-top: 19px; }

.modal-header-borderless {
  border-bottom: transparent; }

.border-gradient::before {
  background: -webkit-radial-gradient(circle, #98b2bf, #f5f5f5);
  background: radial-gradient(circle, #98b2bf, #f5f5f5);
  content: "";
  display: block;
  height: 2px;
  width: 100%; }

.label-emo {
  width: 54px;
  height: 54px;
  margin: 0 auto 5px;
  background-size: 100%;
  opacity: 0.5; }

.label-happy {
  background: url(../img/happy.svg) no-repeat; }

.label-normal {
  background: url(../img/normal.svg) no-repeat; }

.label-sad {
  background: url(../img/sad.svg) no-repeat; }

input[type="radio"] + .label-book .label-span-modal {
  display: none; }

input[type="radio"]:checked + .label-happy,
input[type="radio"]:checked + .label-normal,
input[type="radio"]:checked + .label-sad {
  opacity: 1; }

.container-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 3em; }

.block-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 571px) {
    .block-radio {
      display: block;
      float: left; } }
  .block-radio input[type="radio"] {
    display: none; }

.modal-window-show-number, .modal-window-order-call, .modal-window-write {
  max-width: 500px;
  top: 0;
  left: 48%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%); }
