.container {
    font-family: "Verdana";
    margin-top: 40px;
}

svg {
    margin-top: 20px;
    margin-top: 20px;
}

svg rect {
//fill: blue;
}

svg rect:hover {
    fill: red;
}

svg text {
    fill: black;
    font: 12px sans-serif;
    text-anchor: end;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.d3-tip {
    line-height: 1;
    font-family: sans-serif;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px;
}