$black: #000;
$white: #fff;
$title: #2F6F70;
$nav-icon: #3D5CA8;
$tags-icon: #A8B6B6;
$tab-title-active: #FDC87A;
$tab-title: #144090;

//new
$main: #00398B;
$main-two: #FEA002;

$main-three: #003789;
$light: #686868;
$bg: #E0E9E6;
$bg-dark: #003789;
$bright: #6CF223;
$text-secondary: #474747;
$orange: #FFAB1F;
$grey: #7E7E7E;
$badge-yellow: #EDD205;
$bg-light: #B3D6D3;