/* ----------------------- ANIMATION STYLES BEGIN ----------------------- */
.btn-animation {
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-hover {
  border: 1px solid #ccc;
  z-index: 1;
}
.btn-hover:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: $main;
  border-radius: 1px;
  transition: all 0.3s ease;
}
.btn-hover:hover {
  border-color: $main;
  color: $white;
}
.btn-hover:hover:after {
  top: 0;
  height: 100%;
}
.btn-hover:active {top: 2px;}


.btn-hover-scale {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.04);
  }
}

.header-parallax {
  background-position: center 95%;
  background-attachment: fixed;
  @include large-desktop-md {
    background-attachment: scroll;
  }
}


ul {
  li#dot-wrapper {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 320px;
    height: 52px;
    right: 0;
    top: 0;
  }
}
.dot {
  position: absolute;
  top: 25px;
  right: 176px;
  background: #00C0FF;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .5);
  height: 0;
  width: 0;
  padding: 4px;
  border-radius: 5000px;
  &:before,
  &:after {
    position: absolute;
    content: " ";
    border-radius: inherit;
    height: 0;
    width: 0;
    box-shadow: 0 0 2px 2px #FF0000;

    transform: translate(-50%, -50%);
    animation: pulseInner 2s infinite ease-out;
  }
  &:after {
    height: 7px;
    width: 7px;
    box-shadow: 0 0 4px 2px #FFFF00;
    animation: pulseOuter 2s infinite ease-out;
  }
}
@keyframes pulseInner {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  20% {
    opacity: 1
  }
  95% {
    height: 125px;
    width: 125px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulseOuter {
  0% {
    height: 7px;
    width: 7px;
    opacity: 0;
  }
  20% {
    opacity: 1
  }
  100% {
    height: 250px;
    width: 250px;
    opacity: 0.1;
  }
}
/* ----------------------- ANIMATION STYLES END ----------------------- */