.btns-phone-block {
  margin-top: 54px;
  text-align: right;
  font-family: 'Roboto', 'Arial', sans-serif;
  @include medium-desktop-lg {
    text-align: center;
  }
    .btn-create, .btn-enter {
      margin-top: -10px;
      font-size: 12px;
      @include phone-lg {
        display: block;
        margin-bottom: 25px;
      }
    }
    .btn-create {
      padding: 2px 9px;
    }
    .btn-enter {
      margin-left: 16px;
      padding: 2px 37px;
      @include phone-lg {
        margin-left: 0;
      }
    }
    .phone-number {
      margin-left: 22px;
      font-size: 26px;
      font-weight: 700;
      color: $main;
      @include large-desktop {
        font-size: 20px;
      }
      @include phone-lg {
        display: block;
        margin-bottom: 25px;
      }
    }

}
.top-block .block-header-left {
  position: relative;
  width: 390px;
  margin-top: 28px;
  @include small-devices {
    margin-bottom: 20px;
  }
  @include phone-lg {
    width: 230px;
  }
}
.top-block .logo-block {
  @include phone-lg {
    height: 67px;
    margin-top: 15px;
  }
}
.top-block .geo-mark {
  float: left;
  width: 22px;
  height: 28px;
  margin-top: 29px;
  margin-right: 2px;
  margin-left: 26px;
  background: url('../img/geo-mark.png') no-repeat;
  @include phone {
    width: 20px;
    height: 25px;
    background-size: contain;
    margin-top: 3px;
  }
}
.top-block .select-header {
  margin-top: -2px;
  margin-left: 5px;
  padding: 0;
  border: none;
  box-shadow: none;
  font-size: 18px;
  color: $main;

  position: absolute;
  right: 0;
  width: 160px;
  top: 27px;
  text-decoration: underline;
  -webkit-appearance:none;
  -moz-appearance:none;
  &::-ms-expand {
    display: none;
  }
  @include phone-lg {
    font-size: 16px;
  }
  @include phone {
    margin-top: -28px;
  }
}

.row-location .block-header-left {
  width: 240px;
  margin-top: 28px;
  @include small-devices {
    margin-bottom: 20px;
  }
}
.logo {
  display: block;
  float: left;
  width: 165px;
  height:64px;
  background: url('../img/logo.png') no-repeat;
}
.row-location .geo-mark {
  float: left;
  width: 22px;
  height: 28px;
  margin-right: 10px;
  background: url('../img/geo-mark.png') no-repeat;
  @include phone {
    width: 20px;
    height: 25px;
    background-size: contain;
    margin-top: 3px;
  }
}
.row-location .select-header {
  width: 65%;
  width: 109px;
  margin-top: -2px;
  margin-left: 5px;
  padding: 0;
  border: none;
  box-shadow: none;
  font-size: 24px;
  color: $main;
  text-decoration: underline;
  -webkit-appearance:none;
  -moz-appearance:none;
  &::-ms-expand {
    display: none;
  }
  @include phone-lg {
    font-size: 16px;
  }
}
.navbar-toggle {
  .icon-bar-custom {
    background-color: $main;
  }
}
.bg-header {
  width: 100%;
  height: 130px;
  margin-top: 12px;
  background: url(../img/bg-header.jpg) no-repeat;
  background-size: contain;
  @include large-desktop-md {
    background-size: cover;
    background-position: center;
  }
}

.row-location {
  margin-top: 3px;
  margin-bottom: 20px;
}
.row-location .address {
  margin-top: -2px;
  margin-bottom: 30px;
  margin-left: -38px;
  padding-top: 28px;
  font-size: 24px;
  color: $main;
  @include small-devices {
    margin-left: 0;
  }
  @include phone-lg {
    margin-top: 4px;
    font-size: 16px;
  }
}
.block-tabs {
  border-top: 1px solid grey;
  margin-top: 34px;
}
.container-tabs {
  margin-top: -56px;
}
.container-tabs .new {
  font-family: 'Roboto Black', Arial, sans-serif;
  font-size: 19px;
  font-weight: 900;
  color: $new;
}
hr.additional-info {
  border-top: 2px solid $hr-additional-info;
}
.additional-info-title, .table-additional-info {
  font-family: Roboto, Arial, sans-serif;
}
.table-additional-info>tbody>tr>th,
.table-additional-info>tbody>tr>td {
  border: none;
}
.slider {
  max-width: 500px;
  height: 400px;
  background-color: $grey;
}
.slider-flat-description {
  padding-right: 10px;
  margin-top: 10px;
  font-family: Roboto, Arial, sans-serif;
  @include phone-lg {
    padding-right: 0;
  }
}