.r-tabs .r-tabs-nav {
  margin: 0;
  padding: 0;
}

.r-tabs .r-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none;
}

.r-tabs .r-tabs-panel {
  padding: 15px;
  display: none;
}

.r-tabs .r-tabs-accordion-title {
  display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
  display: block;
}

/* Tabs container */
.r-tabs {
  position: relative;
  border-radius: 4px;
}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
  position: relative;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
  display: inline-block;
  padding: 7px 6px;
  font-family: Roboto, Arial, sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  @include phone-lg {
    font-size: 17px;
  }
  @include phone {
    font-size: 13px;
  }
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
  opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
  color: $main;
  text-shadow: none;

  background-color: white;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
  background-color: white;

  border-bottom: 4px solid white;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
  display: block;
  padding: 10px;

  background-color: #00c5ad;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
  background-color: #fff;
  color: #00c5ad;
  text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
  opacity: 0.5;
}

/* Info bar */
.info {
  display:inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  width: 300px;
  line-height: 100%;

  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  color: #00c5ad;
  border: 2px solid #00ab94;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;

  cursor: pointer;
}

/* ------------------ MY STYLES ------------------*/
#responsiveTabsDemo {
  border-top: 2px solid transparent;
}
.block-tabs {
  border-top: 2px solid $grey;
}
.r-tabs ul.r-tabs-nav {
  max-width: 646px;
  height: 54px;
  padding-top: 10px;
  border-bottom: 2px solid $grey;
  background: url('../img/bg-tab2.jpg') no-repeat;
  background-position: 106px;
  transition: 500ms;
  @include phone-lg {
    background-position: 92px;
  }
  @include phone {
    background-position: 74px;
  }
}
.r-tabs li.r-tabs-state-active {
  margin-top: -2px;
  border: {
    top: 1px solid $grey;
    right: 1px solid $grey;
    left: 1px solid $grey;
  }
  background-color: white;
  border-top-left-radius: 7px;
  border: 2px solid $grey;
  border-bottom: 2px solid transparent;
  border-top-right-radius: 7px;
  @include phone-lg {
    margin-top: -1px;
    padding-bottom: 1px;
  }
}
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
  border-radius: 7px;
  color: $orange;
}
.r-tabs .r-tabs-nav .r-tabs-state-default a.r-tabs-anchor .underlined {
  text-decoration: none;
  border-bottom: 2px solid $main;
  line-height: 0;
  color: $main;
}