$main: #133665;
$white: #ffffff;
$orange: #efb721;
$grey: #979797;
$grey-light: #ededed;
$green: #8ABA8E;
$new: #d70001;
$hr-additional-info: #bfbfbf;
$book: #15325e;
$write: #e7ad35;
$btn-order-call: #e7d635;
$answer-time: #373737;
$media-shield: #028712;
$warranty: #003d69;
$border-avatar: #8c8c8c;
$bg-dot: #00C0FF;